* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

/* Making image responsive */
img {
	max-width: 100%;
	width: 32%;
	align-self: flex-start;
}

/* font-family: "Playfair Display", serif;
	font-family: "Roboto", sans-serif; */

.flex {
	display: flex;
	align-items: center;
}

.hero-parent {
	background-color: #f3eed9;
	min-height: 660px;
}

.container {
	width: 75%;
	max-width: 1128px;
	margin: 0 auto;
}

.hero {
	text-align: center;
}

.hero-sub-head {
	font-size: 1.8rem;
	letter-spacing: 1.1rem;
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;

	margin-bottom: 1.2rem;
}

.hero-head {
	font-size: 6rem;
	font-family: "Playfair Display", serif;
	font-weight: 800;
	color: #824936;
}

.first-row {
	padding: 8rem 0;
}

.first-head {
	font-size: 3.6rem;
	color: #824936;
	text-align: center;
	font-family: "Playfair Display", serif;
	font-weight: 700;

	margin-bottom: 2.4rem;
}

.para {
	font-size: 2.1rem;
	font-family: "Roboto", sans-serif;

	letter-spacing: 0.2px;
	line-height: 1.4;
}

.cols {
	gap: 7.2rem;
}

.text {
	align-self: flex-start;
}

.second {
	background-color: #222c2a;
}
.second-row {
	gap: 6.4rem;
	color: #fff;
	padding: 8rem 0;
}
.second-head {
	font-size: 3.6rem;
	font-weight: 800;
	font-family: "Playfair Display", serif;
	margin-bottom: 1.8rem;
}

.third {
	background-color: #824936;
}
.third-row {
	gap: 6.4rem;
	color: #fff;
	padding: 8rem 0;
}
.third-head {
	font-size: 3.6rem;
	font-weight: 800;
	font-family: "Playfair Display", serif;
	margin-bottom: 1.8rem;
}
